* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

.active {
  color: yellow;
}

/*Comment Anchor Extension*/
/* SECTION header*/
/* SECTION div class="top"*/
header div.top {
  padding: 1rem;
  background-image: url(./images/background.png);
}
/* SECTION h1*/
header div.top h1 {
  font-size: 2.5rem;
}
/* !SECTION h1*/
/* SECTION h3*/
/*  */
header div.top h3 {
  font-size: 1rem;
}
/* !SECTION h3*/
/* !SECTION div*/
/* SECTION nav*/
header nav {
  background-color: black;
}
/* SECTION ul*/
header nav ul {
  display: flex;
  list-style-type: none;
}
/* SECTION li*/ /* SECTION a href=""*/
/* !SECTION a*/ /* !SECTION li*/
header nav ul li {
  padding: 0.8rem 1.2rem;
}
header nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.25rem;
  transition: all 0.3 ease;
}
header nav ul li a:hover {
  color: yellow;
}
/* SECTION li*/ /* SECTION a href=""*/
/* !SECTION a*/ /* !SECTION li*/
/* SECTION li*/ /* SECTION a href=""*/
/* !SECTION a*/ /* !SECTION li*/
/* SECTION li*/ /* SECTION a href=""*/
/* !SECTION a*/ /* !SECTION li*/
/* SECTION li*/ /* SECTION a href=""*/
/* !SECTION a*/ /* !SECTION li*/

/* !SECTION ul*/
/* !SECTION nav*/
/* !SECTION header*/

/* SECTION main */
/* SECTION section class="left" */
/* SECTION h3 */
/* !SECTION h3 */

/* SECTION figure */
/* SECTION img src="./images/go-equipment.png" alt="" / */
/* SECTION figcaption */
/* !SECTION figcaption */
/* !SECTION figure */

/* SECTION table */
/* SECTION tr */
/* SECTION td */
/* !SECTION td */
/* SECTION td */
/* !SECTION td */
/* !SECTION tr */

/* SECTION tr */
/* SECTION td */
/* !SECTION td */
/* SECTION td */
/* !SECTION td */
/* !SECTION tr */

/* SECTION tr */
/* SECTION td */
/* !SECTION td */
/* SECTION td */
/* !SECTION td */
/* !SECTION tr */

/* SECTION tr */
/* SECTION td */
/* !SECTION td */
/* SECTION td */
/* !SECTION td */
/* !SECTION tr */

/* SECTION tr */
/* SECTION td */
/* !SECTION td */
/* SECTION td */
/* !SECTION td */
/* !SECTION tr */

/* SECTION tr */
/* SECTION td */
/* !SECTION td */
/* SECTION td */
/* !SECTION td */
/* !SECTION tr */

/* SECTION tr */
/* SECTION td */
/* !SECTION td */
/* SECTION td */
/* !SECTION td */
/* !SECTION tr */

/* SECTION tr */
/* SECTION td */
/* !SECTION td */
/* SECTION td */
/* !SECTION td */
/* !SECTION tr */
/* !SECTION table */
/* !SECTION section */
/* !SECTION section */

/* SECTION section class="right" */
/* SECTION h3 */
/* !SECTION h3 */
/* SECTION p */

/* !SECTION p */
/* SECTION p */

/* !SECTION p */
/* SECTION p */

/* !SECTION p */
/* SECTION p */

/* !SECTION p */
/* SECTION hr / */
/* SECTION h3 */
/* !SECTION h3 */
/* SECTION p */

/* !SECTION p */
/* SECTION p */

/* !SECTION p */
/* SECTION p */

/* !SECTION p */
/* SECTION hr / */
/* SECTION h3 */
/* !SECTION h3 */
/* SECTION p */

/* !SECTION p */
/* SECTION ul */
/* SECTION li */
/* !SECTION li */
/* SECTION li */

/* !SECTION li */
/* SECTION li */

/* !SECTION li */
/* SECTION li */
/* !SECTION li */
/* SECTION li */
/* !SECTION li */
/* SECTION li */
/* !SECTION li */
/* SECTION li */

/* !SECTION li */
/* !SECTION ul */
/* !SECTION section */
/* !SECTION main */
