* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

.active {
  color: yellow;
}

p {
  padding: 0.5rem 0rem;
}

/*Comment Anchor Extension*/
/* SECTION header*/
/* SECTION div class="top"*/
header div.top {
  padding: 1rem;
  background-image: url(./images/background.png);
}
/* SECTION h1*/
header div.top h1 {
  font-size: 2.5rem;
}
/* !SECTION h1*/
/* SECTION h3*/
/*  */
header div.top h3 {
  font-size: 1rem;
}
/* !SECTION h3*/
/* !SECTION div*/
/* SECTION nav*/
header nav {
  background-color: black;
}
/* SECTION ul*/
header nav ul {
  display: flex;
  list-style-type: none;
}
/* SECTION li*/ /* SECTION a href=""*/
/* !SECTION a*/ /* !SECTION li*/
header nav ul li {
  padding: 0.8rem 1.2rem;
}
header nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.25rem;
  transition: all 0.3 ease;
}
header nav ul li a:hover {
  color: yellow;
}
/* SECTION li*/ /* SECTION a href=""*/
/* !SECTION a*/ /* !SECTION li*/
/* SECTION li*/ /* SECTION a href=""*/
/* !SECTION a*/ /* !SECTION li*/
/* SECTION li*/ /* SECTION a href=""*/
/* !SECTION a*/ /* !SECTION li*/
/* SECTION li*/ /* SECTION a href=""*/
/* !SECTION a*/ /* !SECTION li*/

/* !SECTION ul*/
/* !SECTION nav*/
/* !SECTION header*/

/* SECTION main */
main {
  display: flex;
  flex-wrap: wrap;
}
main.no-flex {
  display: block;
}

main section {
  padding: 1rem;
}
/* SECTION section class="left" */
section.left {
  flex: 1 1 100px;
}
/* SECTION h3 */
section.left h3 {
  margin-bottom: 1rem;
}
/* !SECTION h3 */

/* SECTION figure */
/* SECTION img src="./images/go-equipment.png" alt="" / */
section.left img {
  width: 90%;
}
/* SECTION figcaption */
/* !SECTION figcaption */
/* !SECTION figure */

/* SECTION table */
section.left table {
  margin-top: 1rem;
}
section.left table,
section.left td {
  padding: 0.25rem;
}
/* SECTION tr */
/* SECTION td */
/* !SECTION td */
/* SECTION td */
/* !SECTION td */
/* !SECTION tr */

/* SECTION tr */
/* SECTION td */
/* !SECTION td */
/* SECTION td */
/* !SECTION td */
/* !SECTION tr */

/* SECTION tr */
/* SECTION td */
/* !SECTION td */
/* SECTION td */
/* !SECTION td */
/* !SECTION tr */

/* SECTION tr */
/* SECTION td */
/* !SECTION td */
/* SECTION td */
/* !SECTION td */
/* !SECTION tr */

/* SECTION tr */
/* SECTION td */
/* !SECTION td */
/* SECTION td */
/* !SECTION td */
/* !SECTION tr */

/* SECTION tr */
/* SECTION td */
/* !SECTION td */
/* SECTION td */
/* !SECTION td */
/* !SECTION tr */

/* SECTION tr */
/* SECTION td */
/* !SECTION td */
/* SECTION td */
/* !SECTION td */
/* !SECTION tr */

/* SECTION tr */
/* SECTION td */
/* !SECTION td */
/* SECTION td */
/* !SECTION td */
/* !SECTION tr */
/* !SECTION table */
/* !SECTION section */
/* !SECTION section */

/* SECTION section class="right" */
section {
  flex: 4 1 500px;
}
/* SECTION h3 */
section.right h3 {
  font-size: 1.5rem;
  padding-top: 0.5rem;
}
/* !SECTION h3 */
/* SECTION p */

/* !SECTION p */
/* SECTION p */

/* !SECTION p */
/* SECTION p */

/* !SECTION p */
/* SECTION p */

/* !SECTION p */
/* SECTION hr / */
/* SECTION h3 */
/* !SECTION h3 */
/* SECTION p */

/* !SECTION p */
/* SECTION p */

/* !SECTION p */
/* SECTION p */

/* !SECTION p */
/* SECTION hr / */
/* SECTION h3 */
/* !SECTION h3 */
/* SECTION p */

/* !SECTION p */
/* SECTION ul */
section.right ul {
  margin-left: 2rem;
}
/* SECTION li */
/* !SECTION li */
/* SECTION li */

/* !SECTION li */
/* SECTION li */

/* !SECTION li */
/* SECTION li */
/* !SECTION li */
/* SECTION li */
/* !SECTION li */
/* SECTION li */
/* !SECTION li */
/* SECTION li */

/* !SECTION li */
/* !SECTION ul */
/* !SECTION section */
/* !SECTION main */
/* !SECTION main */
/* !SECTION main */

/* SECTION 韓國學院 */
/* SECTION main class="no-flex" */
/* SECTION section */
/* SECTION p */

/* !SECTION p */
/* SECTION p */

/* !SECTION p */
/* !SECTION section */
/* SECTION hr / */
/* !SECTION hr */
/* SECTION section */
/* SECTION h3 style="font-size: 1.5rem" */
/*!SECTION h3*/
/*SECTION divclass="player"*/
.player {
  margin: 2rem;
  border: 3px solid burlywood;
  padding: 0.5rem;
}
/*SECTION h4*/
.player h4 {
  font-size: 1.5rem;
  color: rgb(0, 90, 91);
}
/*!SECTION h4*/
/*SECTION h5*/
.player h5 {
  font-size: 1.05rem;
  color: rgb(6, 120, 120);
}
/*!SECTION h5*/
/*SECTION p*/
/*!SECTION p*/
/*!SECTION div*/
/*SECTION divclass="player"*/
/*SECTION h4*/
/*!SECTION h4*/
/*SECTION h5*/
/*!SECTION h5*/
/*SECTION p*/
/* !SECTION p */
/* !SECTION div */

/* SECTION div class="player" */
/* SECTION h4 */
/* !SECTION h4 */
/* SECTION h5 */

/* !SECTION h5 */
/* SECTION p */

/* !SECTION p */
/* SECTION p */

/* !SECTION p */
/* !SECTION div */

/* SECTION div class="player" */
/* SECTION h4 */
/* !SECTION h4 */
/* SECTION h5 */

/* !SECTION h5 */
/* SECTION p */

/* !SECTION p */
/* !SECTION div */
/* !SECTION section */
/* !SECTION 韓國學院 */
/* !SECTION 韓國學院 */

/* SECTION 日本棋院 */
/* SECTION div class="japan" */
div.japan {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}
/* SECTION div img
            src="./images/Nihon_Ki-in_Headquarter_(2016-05-05)_5.jpg"
            alt="日本棋院"
          / */
div.japan div.image {
  flex: 1 1 300px;
  display: flex;
  align-items: center;
}
/* !SECTION div img */
/* SECTION img
            src="./images/Nihon_Ki-in_Headquarter_(2016-05-05)_5.jpg"
            alt="日本棋院"
          / */
div.japan div.image img {
  width: 100%;
}
/* SECTION div class="info" */
div.japan div.info {
  flex: 3 1 600px;
  padding: 2rem;
}
/* SECTION p */

/* !SECTION p */
/* SECTION p */

/* !SECTION p */
/* SECTION p */
/* !SECTION p */
/* SECTION ul */
div.competition ul {
  padding: 1rem;
}
/* SECTION li */
/* !SECTION li */
/* SECTION li */
/* !SECTION li */
/* SECTION li */
/* !SECTION li */
/* !SECTION ul */
/* !SECTION div */
/* !SECTION div */
/* SECTION hr / */
/* SECTION div class="competition" */
/* SECTION div class="text" */
div.competition div.text {
  flex: 5 1 300px;
  padding: 2rem;
}

/* SECTION h3 */
div.competition div.text h3 {
  font-size: 2rem;
  color: rgb(12, 122, 92);
}
/* !SECTION h3 */
/* SECTION p */

/* !SECTION p */
/* SECTION p */

/* !SECTION p */
/* SECTION p */
/* !SECTION p */

/* SECTION ul */
/* SECTION li */
/* !SECTION li */
/* SECTION li */
/* !SECTION li */
/* SECTION li */
/* !SECTION li */
/* SECTION li */
/* !SECTION li */
/* SECTION li */
/* !SECTION li */
/* SECTION li */
/* !SECTION li */
/* SECTION li */
/* !SECTION li */
/* !SECTION ul */
/* !SECTION div */
/* SECTION div id="piechart" */
#piechart {
  flex: 1 1 300px;
}
/* !SECTION div */
/* !SECTION div */
/* !SECTION 日本棋院 section */
