* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

.active {
  color: yellow;
}

/* SECTION header*/
/* SECTION div class="top"*/
header div.top {
  padding: 1rem;
  background-image: url(./images/background.png);
}
/* SECTION h1*/
header div.top h1 {
  font-size: 2.5rem;
}
/* !SECTION h1*/
/* SECTION h3*/
/* 圍棋是一種策略棋類，使用格狀棋盤及黑白二色棋子進行對弈。起源於中國，中國古時有「弈」、「碁」、「手談」等多種稱謂，屬琴棋書畫四藝。 */
header div.top h3 {
  font-size: 1rem;
}
/* !SECTION h3*/
/* !SECTION div*/
/* SECTION nav*/
header nav {
  background-color: black;
}
/* SECTION ul*/
header nav ul {
  display: flex;
  list-style-type: none;
}
/* SECTION li*/ /* SECTION a href=""*/ /* !SECTION a*/ /* !SECTION li*/
header nav ul li {
  padding: 0.8rem 1.2rem;
}
header nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.25rem;
  transition: all 0.3 ease;
}
header nav ul li a:hover {
  color: yellow;
}
/* SECTION li*/ /* SECTION a href=""*/ /* !SECTION a*/ /* !SECTION li*/
/* SECTION li*/ /* SECTION a href=""*/ /* !SECTION a*/ /* !SECTION li*/
/* SECTION li*/ /* SECTION a href=""*/ /* !SECTION a*/ /* !SECTION li*/
/* SECTION li*/ /* SECTION a href=""*/ /* !SECTION a*/ /* !SECTION li*/
/* !SECTION ul*/
/* !SECTION nav*/
/* !SECTION header*/
